<%= form_with(model: [@post, @post.comments.build]) do |form| %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_field :body %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
