
<div class="container user_container">
<%= avatar_tag @user.id, style: 'width: 70px; height: 70px;' %>

<h2><strong><%= @user.name %></strong></h2>
<% if current_user == @user %>
  <%= link_to image_tag("setting_wheel.svg", height: "30px", width: "30px"), edit_user_registration_url, class: "setting_wheel" %>
<% end %>
</div>
<div class="img_container container">
  <% Post.where(user_id: @user.id).reverse.each do |post| %>
    <a href="<%= "/posts/#{post.id}" %>" data-turbo-frame="main_image">
      <div class="img_back col col-md-auto" data-bs-toggle="modal" data-bs-target="#modal">
          <%= image_tag(post.featured_image.variant(resize_to_limit: [200, 200]).processed) %>   
      </div>
    </a>
  <% end %>
</div>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <%= turbo_frame_tag "main_image" do %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

