<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="mb-3 file_droparea">
    <% if post.featured_image.attached? %>
      <%= post.featured_image.blob.filename %>
    <% else %>
        <p class="file_msg">Drag here to upload or click here to browse</p>
        <%= form.file_field :featured_image, class: "file_input", direct_upload: true %>
    <% end %>   
  </div>
  <div class="mb-3">
    <%= form.submit %>
  </div>
<% end %>
