<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br />

 <div class="dropzone dropzone-default dz-clickable" style="max-width: 700px" data-controller="dropzone" data-dropzone-max-file-size="5" data-dropzone-accepted-files="image/*">
   <%= form.file_field :featured_image, direct_upload: true, data: { dropzone_target: 'input' }, :required => true %>
   <div class="dropzone-msg dz-message needsclick">
     <h5 class="dropzone-msg-title">Drag here to upload or click here to browse</h5>
     <span class="dropzone-msg-desc">One picture at a time 5 mb max size</span>
   </div>
  </div>

<br />

  <div class="mb-3">
    <%= form.text_field :title, style: 'width: 80%; max-width: 650px', :required => true %>

    <%= form.submit 'Post', class: 'btn btn-primary' %>
  </div>
<% end %>
<img id="imageHole">