<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <turbo-frame id="main_image">
      <%= image_tag(post.featured_image) %>
      <%= post.title %><strong> By </strong><%= @username %> <strong>At:</strong>
      <%= post.created_at %>
      <% unless post.created_at.to_i == post.updated_at.to_i %>
        <%= "Edited: #{post.updated_at}" %>
      <% end %>
    </turbo-frame>
  </p>

  <p>
    <strong>User:</strong>
    <%= @username %>
  </p>

  <%= post.created_at %>

  <% unless post.created_at.to_i == post.updated_at.to_i %>

    <%= "Edited: #{post.updated_at}" %>
  <% end %>

  <br />
</div>
