<div id="<%= dom_id post %>">
  <p>
    <%= image_tag(post.featured_image) %>
      <% if post.created_at.to_i == post.updated_at.to_i %>
        <%= post.title %> - 
        <strong> <%= @username %> </strong> <%= @time_since_created %> ago
      <% else %>
        <%= "Edited: #{post.updated_at}" %>
      <% end %>


      <br /><strong>Comments: </strong>
        <% post.comments.each do |comment| %>
          <br />
          <strong><%= User.find(comment.user_id).name %></strong>
          <br />
          <%= comment.body %>
        <% end %>

  </p>


  <br />
</div>
