<div id="<%= dom_id post %>">
  <p class="modal_container">
    <%= image_tag(post.featured_image) %>

    <p style="margin-top: 5px">
      <% if post.created_at.to_i == post.updated_at.to_i %>
          <%= avatar_tag @user.id, style: 'width: 30px; height: 30px;' %>

        <strong><a href="/user/<%= @user.id %>" class="user_link" target="_parent"><%= @user.name %></a> </strong> <%= @time_since_created %> ago
      <% else %>
        <%= "Edited: #{post.updated_at}" %>
      <% end %>
      <% if current_user == @user %>
        <%= link_to "Delete this post", post, class: "delete_link", data: { turbo_frame: "_top", "turbo-method": :delete } %>
      <% end %>
    </p>
      <p style="padding-left: 35px"><%= post.title %></p>
      <hr>

      <strong style="font-size: 1.25rem">Comments: </strong>
      <% post.comments.each do |comment| %>
        <p class="comment_container">

          <br />
          <%= avatar_tag comment.user_id, style: 'width: 30px; height: 30px; grid-column: 1;' %>

          <strong><a href="/user/<%= comment.user_id %>" class="user_link" target="_parent"><%= User.find(comment.user_id).name %></a></strong>
          <br />
  
          <p style="padding-left: 45px">
            <%= comment.body %>
            <% if current_user.id == comment.user_id %>
              <a href="/posts/<%= post.id %>/comments/<%= comment.id %>" rel="nofollow" data-turbo-frame="_top" data-turbo-method="delete" class="delete_link">Delete</a>
            <% end %>
          </p>

        </p>
        
      <% end %>
  </p>


  <br />
</div>
