<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <turbo-frame id="main_image">
    <%= image_tag(post.featured_image) %>
      <% if post.created_at.to_i == post.updated_at.to_i %>
        <%= post.title %> - 
        <strong> <%= @username %> </strong> <%= @time_since_created %> ago
      <% else %>
        <%= "Edited: #{post.updated_at}" %>
      <% end %>
        <% post.comments.each do |comment| %>
          <br />
          <strong><%= User.find(comment.user_id).name %></strong>
          <br />
          <%= comment.body %>
        <% end %>
    </turbo-frame>
  </p>

  <p>
    <strong>User:</strong>
    <%= @username %>
  </p>

  <%= post.created_at %>

  <% unless post.created_at.to_i == post.updated_at.to_i %>

    <%= "Edited: #{post.updated_at}" %>
  <% end %>

  <br />
</div>
