
<turbo-frame id="main_image">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @post.title %></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <%= image_tag @post.featured_image %>

              <%= @username %>

<%= @post.id %>
<%= params[:id] %>
    <%= @post.created_at %>

    <% unless @post.created_at.to_i == @post.updated_at.to_i %>

      <%= "Edited: #{@post.updated_at}" %>
    <% end %>
<h2>Comments:</h2><br>
<%= render 'comments/form' %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>